<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TCS-Equifax-API-Assessment">
	<parameter name="BaseURI" value="http://dummy.restapiexample.com/api/v1" />
	<parameter name="EmpId" value="24" />
	<test name="Employee API Test">
		<classes>
			<class name="com.api.automation.GetRequest">
				<methods>
					<include name="getRequest" />
				</methods>
			</class>
			<class name="com.api.automation.DeleteRequest">
				<methods>
					<include name="deleteRequest" />
				</methods>
			</class>

		</classes>
	</test>
</suite>
                    
